.App {
  text-align: center;
}

*{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.productItem{
  padding: 0.5rem;
  flex: 1 0 25%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.productItem{
  flex: 0 1;

  border-right: 1px solid rgba(0,0,0,.1);

}

.productInner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.productImg{
  flex: 1 0 100%;
  }

.productItem:last-child{
  border-right: 0px;
}

.productImg > img {
  max-height: 25vh;
}

.productDesc{
  flex: 1 0 100%;
  font-weight: 300;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


